.main{
    margin: 50px;
    background: white;
}
.body{
    background: #ffb86b;
}
.btn{
    float: right;
    margin-bottom: 20px;
}
.text-des{
	font-size: 12px;
	    font-weight: normal;
	    color: #999;
}